.main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  &__wrapper {
    flex: 1;
  }

  &__entry {
    @media all and (min-width: $breakpoint-s +1) {
      margin-right: $margin-base;
    }

    @media all and (max-width: $breakpoint-s) {
      margin-bottom: $margin-base;
      width: 100%;
      text-align: center;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 1.25em;
  }
}

.social-nav {
  display: flex;

  &__entry {
    margin-right: $margin-base;
    line-height: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}