.intro {
  display: flex;

  &__visual {
    flex: 1;
    margin-right: $margin-big;
  }

  &__copy {
    flex: 2;
  }
}

/* Tech chart */
$button-min-height: 36px;

.tech-chart {
  display: flex;
  flex-wrap: wrap;

  &__nav {
    display: flex;
    flex-flow: column;

    @media all and (max-width: $breakpoint-s) {
      margin: 0 auto $margin-big;
      height: $button-min-height;
      overflow: hidden;
      transition: height .2s ease-in-out;

      &--active {
        height: ($button-min-height + $margin-base) * 7;
      }
    }
  }

  &__chart {
    flex-grow: 1;
    min-width: 375px;
    max-width: 550px;
    @media all and (min-width: $breakpoint-s + 1px) {
      margin-left: $margin-huge;
    }
  }

  .button {
    padding-top: 0;
    padding-bottom: 0;
    height: 10%;
    min-height: $button-min-height;
    max-height: 50px;
    order: 2;

    &--active {
      order: 1;
    }
  }
}

/* Work XP */

.work-xp {
  max-width: 500px;

  &__entry {
    padding-left: 20px;
    line-height: 40px;

    &:nth-child(odd) {
      background: $light-grey;

      a:hover {
        text-shadow: 1px 1px 1px $white; 
      }
    }
  }
}