body {
  color: $dark-grey;
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $margin-big;
  color: $primary;
  font-weight: 700;
}

p {
  margin: 0 0 $margin-base;
 
  @media all and (min-width: $breakpoint-s +1) {
    max-width: 80%;
  }
}

a {
  position: relative;
  color: $primary;
  text-decoration: none;
  transition: color .2s ease-in-out;
  
  &:before {
    position: absolute;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    width: calc(100% + 4px);
    height: 0;
    background: $primary;
    transition: height .2s ease-in-out;
    content: "";
  }

  &:hover {
    color: $white;

    &:before {
      height: calc(100% + 4px);
    }
  }
}

strong {
  font-weight: 700;
}