h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: $blue;
  font-weight: 700;
}

p , ul {
  color: $dark-grey;
}

a {
  color: $blue;
  text-decoration: none;
  transition: all .2s ease-in-out;

  &:hover {
    text-shadow: 1px 1px 1px $light-grey;
  }
}

strong {
  font-weight: 700;
}