body {
  color: $dark-grey;
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $margin-big;
  color: $primary;
  font-weight: 700;
}

p {
  margin: 0 0 $margin-base;
  max-width: 800px;
}

a {
  color: $primary;
  text-decoration: none;
  transition: all .2s ease-in-out;

  &:hover {
    text-shadow: 1px 1px 1px $light-grey;
  }
}

strong {
  font-weight: 700;
}