$blue: #00a3d2;
$dark-grey: #7c7c7c;
$green: rgb(31, 102, 16);
$light-grey: #e4e4e4;
$white: #fff;

$primary: $green; 

$font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$margin-base: 20px;
$margin-big: $margin-base * 1.5;
$margin-huge: $margin-base * 3;
$margin-small: $margin-base / 2;

$breakpoint-s: 650px;